<div class="relative w-4/5  mx-auto mt-4 border-2">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">

    <!-- Slides -->
    @for(slide of slides;track slide; let idx = $index){
    <div class="transition-opacity duration-700 ease-in-out" [class.opacity-100]="idx == slideIndex"
      [class.opacity-0]="idx != slideIndex">
      <!-- Image -->
      <img src="{{slide.imageUrl}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="...">
      <!-- Captions -->
      <span
        class="absolute top-3/4 left-1/2 bg-black/30 p-1  text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl ">
        {{slide.caption}}</span>
    </div>
    }

    <!-- Slider indicators  -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      @for(slide of slides;track slide; let idx = $index){
      <button type="button" class="w-3 h-3 bg-white/50 hover:bg-white/90 rounded-full"
        (click)="goToSlide(idx)"></button>
      }
    </div>
  </div>
  
  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    (click)="prevSlide()">
    <span
      class=" inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30  group-hover:bg-black/50  group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
      <svg class="w-4 h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    (click)="nextSlide()">
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30  group-hover:bg-black/50  group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
      <svg class="w-4 h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>